/* line 5, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: grey;
  text-align: center;
}

/* line 12, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
div {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: grey;
  background-color: black;
  text-align: center;
}

/* line 20, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
ul li {
  display: inline-block;
  float: right;
  margin-right: 2%;
  text-align: center;
}

/* line 27, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
ul li a {
  color: grey;
  text-transform: uppercase;
  transition: color 600ms;
  -webkit-transition: color 600ms;
  text-align: center;
}

/* line 35, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
h2 {
  text-align: center;
}

/* line 39, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
p {
  text-align: center;
}

/* line 43, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
footer {
  text-align: center;
}

/* line 47, /Users/Darius/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



body {
  background-color: #fffeea;
    /*background-image: url("../img/bonn2.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 5%;
    padding-top: 5%;
    height: 100%;}*/

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
