// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: grey;
}

div {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: grey;
  background-color: black;
}

ul li {
  display: inline-block;
  float: right; 
  margin-right: 2%; 
}

ul li a {
  color: grey;
  text-transform: uppercase;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}