// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: grey;
  text-align: center;  
}

div {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: grey;
  background-color: black;
  text-align: center;  
}

ul li {
  display: inline-block;
  float: right; 
  margin-right: 2%;
  text-align: center;   
}

ul li a {
  color: grey;
  text-transform: uppercase;
  transition: color 600ms;
  -webkit-transition: color 600ms;
  text-align: center;  
}

h2 {
  text-align: center;  
}

p {
  text-align: center;  
}

footer {
  text-align: center;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
